# Importing modules

In [2]:
import pandas as pd
from sodapy import Socrata

# Setting permissions and getting results

In [3]:
client = Socrata("data.calgary.ca", None)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [4]:
results = client.get("5fdg-ifgr", limit=300000)

# Setting a dataframe for imported results

In [5]:
results_df = pd.DataFrame.from_records(results)

In [6]:
print(results_df.columns)

Index(['station_number', 'station_name', 'timestamp', 'level', 'flow', 'id'], dtype='object')

In [7]:
results_df = results_df.loc[results_df['station_name']=='Glenmore Reservoir at Calgary']
results_df = results_df.loc[results_df['level']!='NA']
timestamps = results_df['timestamp'].tolist()
dates = [timestamps[x][:10] for x in range(len(timestamps))]
#time = [timestamps[x][10:] for x in range(len(time))]
results_df = results_df[['level']]
results_df.head()

       level
6   1075.234
20  1075.241
36  1075.238
48  1075.228
68  1075.233

In [8]:
results_df = results_df.astype(float)
results_df['date'] = dates
dates = set(dates)
print(results_df.dtypes)

level    float64
date      object
dtype: object

In [9]:
dates = list(dates)
dates.sort()
print(dates)
print(len(dates))

['2020-08-31', '2020-09-01', '2020-09-02', '2020-09-03', '2020-09-04', '2020-09-05', '2020-09-06', '2020-09-07', '2020-09-08', '2020-09-09', '2020-09-10', '2020-09-11', '2020-09-12', '2020-09-13', '2020-09-14', '2020-09-15', '2020-09-16', '2020-09-17', '2020-09-18', '2020-09-19', '2020-09-20', '2020-09-21', '2020-09-22', '2020-09-23', '2020-09-24', '2020-09-25', '2020-09-26', '2020-09-27', '2020-09-28', '2020-09-29', '2020-09-30', '2020-10-01', '2020-10-02', '2020-10-03', '2020-10-04', '2020-10-05', '2020-10-06', '2020-10-07', '2020-10-08', '2020-10-09', '2020-10-10', '2020-10-11', '2020-10-12', '2020-10-13', '2020-10-14', '2020-10-15', '2020-10-16', '2020-10-17', '2020-10-18', '2020-10-19', '2020-10-20', '2020-10-21', '2020-10-22', '2020-10-23', '2020-10-24', '2020-10-25', '2020-10-26', '2020-10-27', '2020-10-28', '2020-10-29', '2020-10-30', '2020-10-31', '2020-11-01', '2020-11-02', '2020-11-03', '2020-11-04', '2020-11-05', '2020-11-06', '2020-11-07', '2020-11-08', '2020-11-09', '2020-11-10', '2020-11-11', '2020-11-12', '2020-11-13', '2020-11-14', '2020-11-15', '2020-11-16', '2020-11-17', '2020-11-18', '2020-11-19', '2020-11-20', '2020-11-21', '2020-11-22', '2020-11-23', '2020-11-24', '2020-11-25', '2020-11-26', '2020-11-27', '2020-11-28', '2020-11-29', '2020-11-30', '2020-12-01', '2020-12-02', '2020-12-03', '2020-12-04', '2020-12-05', '2020-12-06', '2020-12-07', '2020-12-08', '2020-12-09', '2020-12-10', '2020-12-11', '2020-12-12', '2020-12-13', '2020-12-14', '2020-12-15', '2020-12-16', '2020-12-17', '2020-12-18', '2020-12-19', '2020-12-20', '2020-12-21', '2020-12-22', '2020-12-23', '2020-12-24', '2020-12-25', '2020-12-26', '2020-12-27', '2020-12-28', '2020-12-29', '2020-12-30', '2020-12-31', '2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04', '2021-01-05', '2021-01-06', '2021-01-07', '2021-01-08', '2021-01-09', '2021-01-10', '2021-01-11', '2021-01-12', '2021-01-13', '2021-01-14', '2021-01-15', '2021-01-16', '2021-01-17', '2021-01-18', '2021-01-19', '2021-01-20', '2021-01-21', '2021-01-22', '2021-01-23', '2021-01-24', '2021-01-25', '2021-01-26', '2021-01-27', '2021-01-28', '2021-01-29', '2021-01-30', '2021-01-31', '2021-02-01', '2021-02-02', '2021-02-03', '2021-02-04', '2021-02-05', '2021-02-06', '2021-02-07', '2021-02-08', '2021-02-09', '2021-02-10', '2021-02-11', '2021-02-12', '2021-02-13']
167

In [12]:
data = []
for date in dates:
    ndf = results_df.loc[results_df['date']==date]
#print(type(results_df.iloc[0, 1]),results_df.iloc[0, 1])
    data.append((date,ndf['level'].mean()))
final_df = pd.DataFrame(data, columns = ['Date', 'Level'])
final_df['Date'] = pd.to_datetime(final_df['Date'])

In [14]:
final_df.head
final_df.dtypes

Date     datetime64[ns]
Level           float64
dtype: object